In [1]:
from graph_var.evaluating_functions import *
from graph_var.utils import node_complement
from collections import defaultdict

In [4]:
for i in range(1, 23):
    print(f'Chromosome{i}')
    triallelic_df = pd.read_csv(f"../Bubble_result_update/bubble_triallelic_chr{i}.tsv", sep='\t')
    print(triallelic_df['Bubble_type'].value_counts(), '\n')

Chromosome1
Bubble_type
interlocking           38169
overlapping            33821
properly_triallelic    10943
nested                  3222
Name: count, dtype: int64

Chromosome2
Bubble_type
interlocking           35750
overlapping            33054
properly_triallelic    10081
nested                  4099
Name: count, dtype: int64

Chromosome3
Bubble_type
interlocking           27442
overlapping            24814
properly_triallelic     7678
nested                  2228
Name: count, dtype: int64

Chromosome4
Bubble_type
interlocking           33050
overlapping            25093
properly_triallelic     9595
nested                  2766
Name: count, dtype: int64

Chromosome5
Bubble_type
interlocking           26554
overlapping            23663
properly_triallelic     7497
nested                  2521
Name: count, dtype: int64

Chromosome6
Bubble_type
interlocking           27204
overlapping            22917
properly_triallelic     7417
nested                  2352
Name: count, dtype: int64

Chromosome7
Bubble_type
interlocking           29383
overlapping            24149
properly_triallelic     8589
nested                  2614
Name: count, dtype: int64

Chromosome8
Bubble_type
interlocking           25195
overlapping            18762
properly_triallelic     7445
nested                  2031
Name: count, dtype: int64

Chromosome9
Bubble_type
interlocking           22347
overlapping            17487
properly_triallelic     6448
nested                  1903
Name: count, dtype: int64

Chromosome10
Bubble_type
interlocking           23440
overlapping            19511
properly_triallelic     6548
nested                  2152
Name: count, dtype: int64

Chromosome11
Bubble_type
interlocking           20642
overlapping            17366
properly_triallelic     5629
nested                  1859
Name: count, dtype: int64

Chromosome12
Bubble_type
overlapping            19062
interlocking           18991
properly_triallelic     5018
nested                  1846
Name: count, dtype: int64

Chromosome13
Bubble_type
interlocking           14215
overlapping            13057
properly_triallelic     3990
nested                  1466
Name: count, dtype: int64

Chromosome14
Bubble_type
interlocking           13832
overlapping            12868
properly_triallelic     4429
nested                  1154
Name: count, dtype: int64

Chromosome15
Bubble_type
interlocking           13476
overlapping            12175
properly_triallelic     3850
nested                  1279
Name: count, dtype: int64

Chromosome16
Bubble_type
interlocking           17054
overlapping            15360
properly_triallelic     4980
nested                  2971
Name: count, dtype: int64

Chromosome17
Bubble_type
interlocking           15271
overlapping            15039
properly_triallelic     4288
nested                  1499
Name: count, dtype: int64

Chromosome18
Bubble_type
interlocking           13873
overlapping            10413
properly_triallelic     3941
nested                  1266
Name: count, dtype: int64

Chromosome19
Bubble_type
interlocking           14705
overlapping            14145
properly_triallelic     4782
nested                  1461
Name: count, dtype: int64

Chromosome20
Bubble_type
interlocking           12014
overlapping             9994
properly_triallelic     3588
nested                  1144
Name: count, dtype: int64

Chromosome21
Bubble_type
interlocking           11074
overlapping             7371
properly_triallelic     3584
nested                  1025
Name: count, dtype: int64

Chromosome22
Bubble_type
interlocking           9488
overlapping            7170
properly_triallelic    2784
nested                  950
Name: count, dtype: int64

In [2]:
for i in range(1, 23):
    print(f"Processing chr{i}")
    AT_csv = pd.read_csv(f"../Bubble_result_update/bubble_variant_counts_chr{i}_AT.tsv", sep='\t')
    G, walks, walk_sample_names = load_graph_from_pkl(f"../Graph_obj_chr/chr{i}.pkl", compressed=False)

    bubble_candidate = AT_csv['Within'].apply(lambda x: len(eval(x)) == 2)

    bubble_ids = AT_csv['Bubble_ids'][bubble_candidate].apply(lambda x: tuple(map(lambda y: y, eval(x))))
    bubble_vars = AT_csv['Within'][bubble_candidate].apply(lambda x: list(map(lambda y: y, eval(x))))

    bubble_var_dict = dict(zip(bubble_ids, bubble_vars))

    failed_bubble = []
    error_dict = defaultdict(list)
    bubble_type_dict = {}

    for bubble, bubble_var in zip(bubble_ids, bubble_vars):
        try:
            bubble_type_dict[bubble] = G.classify_triallelic_bubble([bubble[0], bubble[1]], bubble_var)
        except Exception as e:
            failed_bubble.append(bubble)
            error_dict['Error'].append(e)
            error_dict['Bubble'].append(bubble)
    print(len(bubble_ids), len(failed_bubble))
    print(failed_bubble[:10])
    
    bubble_triallelic_df = pd.DataFrame({'Bubble': list(bubble_type_dict.keys()), 'Bubble_type': list(bubble_type_dict.values())})
    bubble_triallelic_df.to_csv(f"../Bubble_result_update/bubble_triallelic_chr{i}.tsv", sep='\t')
    error_df = pd.DataFrame({key: pd.Series(value) for key, value in error_dict.items()})
    error_df.to_csv(f"../Bubble_result_update/bubble_with_error_chr{i}.tsv", sep='\t')

Processing chr1
86155 0
[]
Processing chr2
82984 0
[]
Processing chr3
62162 0
[]
Processing chr4
70504 0
[]
Processing chr5
60235 0
[]
Processing chr6
59890 0
[]
Processing chr7
64735 0
[]
Processing chr8
53436 3
[('73706472', '73706476'), ('73720189', '73720192'), ('73718647', '73718650')]
Processing chr9
48185 0
[]
Processing chr10
51651 0
[]
Processing chr11
45496 0
[]
Processing chr12
44917 0
[]
Processing chr13
32728 0
[]
Processing chr14
32283 0
[]
Processing chr15
30781 1
[('23537113', '23537116')]
Processing chr16
40365 0
[]
Processing chr17
36097 0
[]
Processing chr18
29493 0
[]
Processing chr19
35093 0
[]
Processing chr20
26740 0
[]
Processing chr21
23054 0
[]
Processing chr22
20392 0
[]

In [7]:
AT_csv = pd.read_csv("../Bubble_result_update/bubble_variant_counts_chr1_AT.tsv", sep='\t')
AT_csv.head()

,Unnamed: 0,Bubble_ids,Total_count,AC_sum,Within_count,Crossing_count,Within,Crossing
0,0,"('4524078', '4524107')",21,.,20,1,"{('4524090_+', '4524091_+'), ('4524097_+', '45...","{('4524107_+', '-_terminus_+')}"
1,1,"('4524079', '4524099')",13,.,13,0,"{('4524083_+', '4524084_+'), ('4524081_-', '45...",{}
2,2,"('4524084', '4524093')",6,.,6,0,"{('4524090_+', '4524091_+'), ('4524087_-', '45...",{}
3,3,"('4524069', '4524078')",5,.,5,0,"{('4524071_+', '4524074_+'), ('4524077_+', '45...",{}
4,4,"('4524053', '4524069')",11,.,11,0,"{('4524067_+', '4524068_+'), ('4524053_+', '45...",{}

In [12]:
AT_csv[AT_csv['Bubble_ids'] == "('4240532', '4240540')"]['Within'].iloc[0]

"{('4240537_-', '4240538_+'), ('4240537_+', '4240534_+'), ('4240539_-', '4240540_+'), ('4240535_-', '4240536_+')}"

In [3]:
AT_csv = pd.read_csv("../Bubble_result_update/bubble_variant_counts_chr8_AT.tsv", sep='\t')
G, walks, walk_sample_names = load_graph_from_pkl("../Graph_obj_chr/chr8.pkl", compressed=False)

In [4]:
AT_csv.sort_values(by='Crossing_count', ascending=False, inplace=True)
AT_csv.head()

,Unnamed: 0,Bubble_ids,Total_count,AC_sum,Within_count,Crossing_count,Within,Crossing
838608,838608,"('70663712', '70683986')",13773,.,13599,174,"{('73709326_+', '73709325_+'), ('70671329_-', ...","{('+_terminus_+', '73722783_-'), ('73698903_+'..."
141441,141441,"('72141792', '72080512')",120871,.,120715,156,"{('72066177_-', '72066178_+'), ('74185728_-', ...","{('+_terminus_+', '72005147_+'), ('+_terminus_..."
623434,623434,"('73870426', '73227364')",1981,.,1962,19,"{('73869336_+', '73869334_+'), ('73227333_-', ...","{('73869175_+', '-_terminus_+'), ('73226908_+'..."
775854,775854,"('73687601', '73688883')",974,.,955,19,"{('73708477_+', '73708478_-'), ('73689443_-', ...","{('+_terminus_+', '73689564_+'), ('73688166_+'..."
43405,43405,"('72473427', '72482463')",3336,.,3317,19,"{('72479268_+', '72479267_+'), ('72474393_+', ...","{('72474748_+', '-_terminus_+'), ('+_terminus_..."

In [6]:
bubble_candidate = AT_csv['Within'].apply(lambda x: len(eval(x)) == 2)

bubble_ids = AT_csv['Bubble_ids'][bubble_candidate].apply(lambda x: tuple(map(lambda y: y, eval(x))))
bubble_vars = AT_csv['Within'][bubble_candidate].apply(lambda x: list(map(lambda y: y, eval(x))))

bubble_var_dict = dict(zip(bubble_ids, bubble_vars))

In [13]:
failed_bubble = []     
bubble_type_dict = {}

for bubble, bubble_var in zip(bubble_ids, bubble_vars):
    try:
        bubble_type_dict[bubble] = G.classify_triallelic_bubble([bubble[0], bubble[1]], bubble_var)
    except:
        failed_bubble.append(bubble)
print(len(bubble_ids), len(failed_bubble))
print(failed_bubble[:10])

53436 3
[('73706472', '73706476'), ('73720189', '73720192'), ('73718647', '73718650')]

In [7]:
bubble_example = ['73720189', '73720192']
bubble_var_dict[tuple(bubble_example)]

[('73720189_+', '73720191_-'), ('73720189_+', '73720190_+')]

In [9]:
bubble_example = ['73720189', '73720192']
G.classify_triallelic_bubble(bubble_example, bubble_var_dict[tuple(bubble_example)])

AssertionError: Found 0 possible start nodes, and 1 possible end nodes

In [6]:
bubble_var_dict[tuple(bubble_example)]

[('4547837_+', '4547839_-'), ('4547838_+', '4547840_+')]

In [10]:
bubble_triallelic_df = pd.DataFrame({'Bubble': list(bubble_type_dict.keys()), 'Bubble_type': list(bubble_type_dict.values())})
bubble_triallelic_df.to_csv("../Bubble_result_update/bubble_triallelic_chr1.tsv", sep='\t')